# Django itself
Django>=3.0,<4.0

# Additional Django Apps
django-forms-bootstrap>=3.1.0

# For highlighting
Markdown==3.3.4

# For filters
PyExecJS==1.1.0

# For OpenJUB auth backend
requests==2.6.0

# For testing pep
pep8 >= 1.7.0